body {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #a31024;
}

header {
    background-color: #7F030D;
    padding: 10px;
}

.container {
    display: flex;
    margin: 50px;
}

.barra-lateral {
    background-color: #720e1b;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 4px #ba0c2b;
    transition: 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    padding: 15px;
    border-radius: 15px;
    justify-content: center;
    transition: 0.3s ease;
}

nav ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #ba0c2b;
    margin: 10px;
    width: 150px;
    border-radius: 5px;
    padding: 5px 10px;
}

nav ul a:hover {
    color: #720e1b;
    transform: scale(1.1);
}

nav ul li {
    display: flex;
    justify-content: center;
}

.sobre,.habilidades,.projetos, .curso {
    background-color: #720e1b;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    color: white;
}

#cabeca {
    color: #ba0c2b;
}

.projeto {
    background-color: #ba0c2b;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

.footer{
    background-color: #ba0c2b;
    border-radius: 40px;
    margin: 20px 200px;
    padding: 5px;
    text-align: center;
    color: white;
}

.informacoes {
    display: flex;
    justify-content: center; 
    gap: 40px; 
    margin: 5px;
}

#inf {
    color: #7F030D;
}

.div {
    color: white;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    width: 180px; 
    text-align: center; 
    box-sizing: border-box;
}

.fot {
    transition: 0.3s ease;
}

.fot:hover {
    transform: scale(1.1);
}

.p {
    color: #7F030D;
    font-weight: bold;
    margin-bottom: 10px;
    font-weight: bold;
} 
